<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PRODUCTO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Agregar Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-input id="nombre" type="text" placeholder="Ingrese el Nombre" [(ngModel)]="nombre"></ion-input>
    <ion-input id="IdCategoria" type="text" placeholder="Ingrese el IdCategoria" [(ngModel)]="IdCategoria"></ion-input>
    <ion-button id="addProducto" (click)="addProducto()">Agregar producto</ion-button>
  </ion-item>
  <br>
  <ion-list>
    <ion-item *ngFor="let item of listaProducto">
      <b>nombre</b>:{{item.nombre}}; <b>IdCategoria</b>:{{item.IdCategoria}}
    </ion-item>
  </ion-list>
  
  
  </ion-content>